body {font-family: 'Space Grotesk', Montserrat, Helvetica Neue, sans-serif; margin: 0 auto; line-height: 2em; padding: 12px; box-sizing: border-box; color: #333; overflow: auto;
/* IE6-9 fallback on horizontal gradient */

}

body, html {height: 100%;}

header { padding: 20px; }

.wrapper {box-sizing: border-box; height: 100%; overflow: auto; }


a {text-decoration: none; color: #333; border-bottom: 3px solid #0068FF;}
a:hover {color: #0068FF}
p {font-family: Montserrat; font-weight: 300; font-size: 19px; overflow-wrap: break-word; word-wrap: break-word;}

.name {font-family: 'Space Grotesk'; font-size: 45px; text-transform: uppercase; font-weight: 900; padding: 12px; border: 4px solid #0068FF; color: #0068FF; display: inline-block; position: absolute; margin-bottom: 60px; top: 60px; left: 90px;}

.container {margin: 0 auto; width: 500px; padding: 120px 12px 50px; overflow: auto; word-wrap:break-word;}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.frosty {
    background: rgb(241, 241, 241);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    border: 6px solid rgba(207, 211, 255, 0.5);
    margin: 5px;
}

.extra {
  border: 5px solid rgba(253, 176, 146, 0.5);
}

.small {
  font-size: 17px;
}

.blue {
  color: #0068FF;
}

article {padding: 60px;}
/* TODO find better cross-platform characters */
/* article::before {
  content: '\2601';
  position: relative;
  top: 0;
  left: -30px;
  color: #0068FF;
  font-size: 24px;
}
article::after {
  content: '\2A55\2A55\2A55\2A55';
  position: relative;
  top: 40px;
  left: 300px;
  color: #0068FF;
  font-size: 44px;
} */
hr {border-bottom: 3px solid #0068FF;}

.meta {text-transform: uppercase; font-family: Arial, Courier New, Source Sans Pro, sans-serif; font-size: 10px; letter-spacing: .15em;}
.meta a:hover {color: #333;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {margin-right: 40px;}
footer a {border: none; color: #0068FF;}
footer {margin: 0 auto; position: absolute; bottom: 55%; right: -255px; padding: 40px 0 0 0; width: 600px; -webkit-transform: rotate(-90deg);}
